################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASPForSample/FileContentIndex
/ASPForSample/bin/Debug/net8.0
/ASPForSample/obj
